* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

@media (min-width: 390px) and (max-width: 550px) {
    .first_section {
        width: 100vw;
        height: 100vh;
        padding: 1rem;

        h3 {
            width: 50%;
            display: flex;
            font-family: "Overpass", sans-serif;
            font-optical-sizing: auto;
            font-weight: 600;
            font-style: normal;
            font-size: 20px;
        }

        .btn_container {
            width: 90%;
            gap: 10px;
            margin: auto;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            .button_unclicked {
                color: #202C31;
                width: 160px;
                height: 45px;
                border: #202C31 1px solid;
                border-radius: 5px;
                background-color: #EDF2F4;
                font-size: 15px;
                display: flex;
                justify-content: center;
                align-items: center;

                svg {
                    margin: 5px;
                }

                .cls_1 {
                    fill: #078CB3;
                    stroke-width: 0px;
                }

                .cls_11 {
                    fill: #000;
                }

                .cls_11,
                .cls_2 {
                    stroke-width: 0px;
                }

                .cls_3 {
                    stroke-width: .5px;
                }

                .cls_3,
                .cls_2 {
                    fill: #fff;
                }

                .cls_3,
                .cls_4 {
                    stroke: #000;
                    stroke-miterlimit: 10;
                }

                .cls_4 {
                    fill: none;
                    stroke-linecap: round;
                    stroke-width: .75px;
                }
            }

            .happy_clicked {
                width: 160px;
                height: 45px;
                border-radius: 5px;
                background-color: #EDF2F4;
                border: 2px solid yellow;
                font-size: 15px;
                color: yellow;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .sad_clicked {
                border: 2px solid rgb(1, 49, 184);
                width: 160px;
                height: 45px;
                border-radius: 5px;
                background-color: #EDF2F4;
                font-size: 15px;
                color: #0131b8;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .angry_clicked {
                width: 160px;
                height: 45px;
                border-radius: 5px;
                background-color: #EDF2F4;
                border: 2px solid rgb(255, 8, 0);
                font-size: 15px;
                color: rgb(166, 10, 5);
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .disgust_clicked {
                width: 160px;
                height: 45px;
                border-radius: 5px;
                background-color: #EDF2F4;
                border: 2px solid rgb(4, 145, 46);
                font-size: 15px;
                color: rgb(4, 145, 46);
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .surprised_clicked {
                width: 160px;
                height: 45px;
                border-radius: 5px;
                background-color: #EDF2F4;
                border: 2px solid rgb(5, 213, 250);
                font-size: 15px;
                color: rgb(5, 213, 250);
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .overwhelmed_clicked {
                width: 160px;
                height: 45px;
                border-radius: 5px;
                background-color: #EDF2F4;
                border: 2px solid rgb(10, 10, 10);
                font-size: 15px;
                color: rgb(10, 10, 10);
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .anxious_clicked {
                width: 160px;
                height: 45px;
                border-radius: 5px;
                background-color: #EDF2F4;
                border: 2px solid #E4572E;
                font-size: 15px;
                color: #E4572E;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .mood_form {
            width: 100%;
            margin: auto;
            height: auto;
            padding: 1rem;
            font-family: "Overpass", sans-serif;
            font-weight: 500;

            .description {
                width: 100%;
                height: 175px;
                background-color: #EDF2F4;
                border: #202C31 1px solid;
                border-radius: 7px;
                color: #202C31;
                font-family: "Overpass", sans-serif;
                font-weight: 500;
                padding: 1rem;
            }

            .container_inputs {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                height: 150px;
            }

            .music_input,
            .book_input {
                width: 170px;
                height: 30px;
                color: #202C31;
                padding: 10px;
                border: #202C31 1px solid;
                border-radius: 5px;
                background-color: #EDF2F4;
            }

            .validation-btn {
                width: 50px;
                height: 50px;
                position: fixed;
                bottom: 40px;
            }
        }
    }
}