:root {
  --dark: #202c31;
  --light: #edf2f4;
}

.first_section {
  width: 100%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .buttons_section {
    width: 50%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .button {
    height: 35px;
    background-color: var(--light);
    color: var(--dark);
    border: 1px solid var(--dark);
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: "Khand", serif;
    font-weight: 600;
    font-style: normal;
  }

  .button:not(:first-child) {
    background-color: var(--dark);
    color: var(--light);
  }
}

@media (min-width: 390px) and (max-width: 550px) {
  body {
    background-color: var(--background-color);
    width: 100%;
    height: 100vh;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
  }

  .first_section {
    width: 100%;
    height: 375px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.2;

    h3 {
      font-size: 20px;
      font-family: "Khand", serif;
      font-weight: 600;
      font-style: normal;
    }
  }

  .logo {
    width: 175px;
    width: 175px;
    margin-bottom: 1rem;
  }

  .buttons_section {
    width: 300px;
    margin: auto;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .button {
      width: 100%;
      height: 35px;
      background-color: var(--light);
      color: var(--dark);
      border: 1px solid var(--dark);
      border-radius: 5px;
      text-decoration: none;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      font-family: "Khand", serif;
      font-weight: 600;
      font-style: normal;
    }

    .button:not(:first-child) {
      background-color: var(--dark);
      color: var(--light);
    }

    a:visited {
      color: none;
    }
  }

  .conditions {
    width: 100%;
    text-align: center;
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    padding: 10px;
    position: fixed;
    bottom: 50px;
    left: 0;

    p {
      color: rgba(0, 0, 0, 0.471);
    }

    .conditions_span {
      color: black;
    }
  }
}
