* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

@media (min-width: 390px) and (max-width: 550px) {

    .main_section {
        width: 80vw;
        height: 90vh;
        /* min-height: 80vh; */

        .title {
            font-family: "Khand", sans-serif;
            font-size: 35px;
            margin-bottom: 1rem;
            text-align: left;

        }

        .buttons_container {
            width: 100%;
            display: flex;
            justify-content: space-around;

            button {
                border: 1px solid #202C31;
                border-radius: 5px;
                background-color: #EDF2F4;
                width: 90px;
                height: 50px;
                color: #202C31;
                font-family: "Khand", sans-serif;
                font-size: 20px;
                font-weight: 600;
            }
        }

        .stats_container {
            margin-top: 2rem;
            border: 1px solid #202C31;
            border-radius: 5px;
            background-color: white;
            width: 100%;
            height: 275px;
        }
    }
}