* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

@media (min-width: 390px) and (max-width: 550px) {
    .section {
        /* border: 2px solid red; */
        width: 80vw;
        height: 90vh;

        .infos {
            width: 100%;
            /* height: 150px; */
            display: flex;
            justify-content: space-around;
            align-items: center;

            .first_block {
                width: 90%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 10px;
            }

            h2 {
                padding: 10px;
                font-family: "Khand", sans-serif;
                font-weight: 600;
                font-size: 35px;
            }
        }

        .button_container {
            height: 100px;
            display: flex;
            justify-content: space-around;
            /* border: 2px solid green; */


            button {
                width: 150px;
                height: 100%;
                border: 1px solid #202C31;
                border-radius: 4px;
                background-color: #EDF2F4;

                h2 {
                    color: #202C31;
                    font-family: "Khand", sans-serif;
                    font-size: 20px;
                    font-weight: 600;
                    font-style: normal;
                }
            }
        }
    }


}