* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --title: "Khand", serif;
  --text: "Overpass", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--color);

  .main_container {
    width: 100%;
    height: 80vh;
    overflow: auto;

    .main {
      width: 100%;
      height: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      button {
        width: 200px;
        height: 75px;
        font-size: 20px;
        background-color: var(--color);
        border: var(--color);
        border-radius: 10px;
      }

      a {
        text-decoration: none;
        color: var(--text);
      }

      button:hover {
        background-color: #256EFF;
      }

      button:focus {
        border: 8px solid #42ea88;
      }
    }

    h2 {
      font-size: 30px;
      font-family: var(--text);
    }
  }
}


@media (390px <=width <=550px) {
  body {
    width: 100%;
    height: 100vh;
  }

  .main_container {
    width: 100%;
    height: 80vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

    .calendar_container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .date_container {
        /* border: 2px solid maroon; */
        width: 70px;
        height: 90px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: "Overpass";

        p:nth-child(2) {
          font-weight: 600;
        }

        p:first-child {
          font-weight: 900;
          font-size: 20px;
        }

      }

      .no_data_dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: lightgray;
        margin-top: 4px;
      }

      .today_dot {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: grey;
        position: absolute;
        bottom: -10px;
      }

    }
  }

  .main {
    /* border: 2px solid firebrick; */
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .home_title {
      /* border: 2px solid firebrick; */
      width: 100%;
      height: 75px;
      font-size: 24px;
    }

  }
}