* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --title: "Khand", serif;
  --text: "Overpass", sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--color);
}

.calendar_container {
  border: 2px solid #EDF2F4;
  /* width: 100%; */
}

.main_container {
  padding: 2rem;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;

  h2 {
    font-family: var(--text);

  }

}