* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --backcolor: #202c31;
    --frontcolor: #EDF2F4;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--frontcolor);
}

@media (min-width: 390px) and (max-width: 550px) {
    .main_section {
        /* border: 2px solid red; */
        width: 80vw;
        height: 90vh;
        /* min-height: 80vh; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
            font-family: "Khand", sans-serif;
            font-size: 35px;
            margin-bottom: 1rem;
        }

        .buttons_container {
            width: 100%;
            display: flex;
            justify-content: space-around;

            button {
                border: 1px solid #202C31;
                border-radius: 5px;
                background-color: #EDF2F4;
                width: 90px;
                height: 50px;
                color: #202C31;
                font-family: "Khand", sans-serif;
                font-size: 20px;
                font-weight: 600;
            }
        }
    }

    .snd_section {
        width: 100%;
        height: auto;
        display: flex;

        .history_container {
            margin-top: 1rem;

            ul {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: auto;
            }

            li {
                height: 100px;

                display: flex;
                font-family: "Overpass", sans-serif;
                font-optical-sizing: auto;
                font-weight: 600;
                font-style: normal;
                font-size: 14px;
            }
        }

        .date_light {
            border: 1px solid #202C31;
            border-radius: 10px;
            padding: 10px;
            width: 30%;
            height: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p:first-child {
                font-family: "Overpass", sans-serif;
                font-weight: 900;
                font-size: 18px;
            }
        }

        .date_dark {
            background-color: #202C31;
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .history_info_light {
            padding: 10px;
            border: 1px solid #202C31;
            border-radius: 10px;
            width: 100%;
            font-size: 12px;

            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }

        .history_info_dark {
            padding: 10px;
            background-color: #202C31;
            border-radius: 10px;
            color: #EDF2F4;
            width: 100%;
        }

    }
}