:root {
    --backcolor: #202c31;
    --frontcolor: #EDF2F4;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-color: var(--backcolor);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 120px;
    height: 375px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: calc(100vh - 65%);

    .links {
        /* border: 2px solid magenta; */
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            /* border: 2px solid firebrick; */
            width: 50px;
            height: 50px;
        }

    }

    .add_btn_link {
        display: none;
    }
}

@media (390px <=width <=550px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .container {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 70px;
        background-color: #202c31;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 36px;
                height: 36px;
            }
        }

        button {
            background-color: transparent;
            border: none;
            position: fixed;
            bottom: 38px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            align-self: center;
            justify-content: center;
            align-items: center;

            .add_btn_link {
                width: 50px;
            }

            .validation-btn {
                width: 50px;
                height: 50px;
                position: fixed;
                bottom: 40px;
            }
        }
    }

}