:root {
  --background-color: #edf2f4;
  --color: #202c31;
  --frontcolor: #edf2f4;
  --title: "Khand", serif;
  --text: "Overpass", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: var(--title);
  background-color: var(--background-color);
  color: var(--color);
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

button:hover {
  cursor: pointer;
}

li,
ul {
  text-decoration: none;
  list-style: none;
}
