:root {
  --background-color: #edf2f4;
  color-scheme: light dark;
  --color: #202c31;
  --title: "Khand", serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
a:visited {
  color: #edf2f4;
}
